.nav-sidebar {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    padding: 0;
    overflow: hidden;
    text-align: center;
    float: left;
    border-radius: 0px;
}
.nav-sidebar .list-group-item {
    color: white;
    background-color: black;
}

.list-group-item a {
    color: white;
    font-size: 0.8em;
    text-decoration: none;
    /* padding: 5px;
    margin: 5px; */
}

.list-group-item.list-group-item-action:hover {
    background-color: grey;
}

.nav-sidebar .list-group .list-group-item.list-group-item-action.active a {
    color: red;
  }

.nav-sidebar .list-group-item.active{
    color: red;
    background-color: white;
    /* padding: 5px;
    margin: 5px; */
}

.secondary-sidebar {
    width: 190px;
    max-width: 190px;
    min-width: 190px;
    padding: 0px;
    margin-left: 20px;
    float: left;
}

.secondary-sidebar .list-group {
    border-radius: 0px;
}

.secondary-sidebar .list-group .list-group-item {
    border: 0px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.secondary-sidebar .list-group .list-group-item.active{
    background-color: white;
    border-left: 3px solid;
    border-color: black;

}

.secondary-sidebar .list-group .list-group-item.active a {
    color: black;
}

.secondary-sidebar .list-group .list-group-item a {
    color: red;
    text-decoration: none;
}

